In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
dossier = 'grilles_salariales/'
fichier = 'corr_salaires_etat.csv'
df = pd.read_csv(dossier + fichier, sep=',')

In [4]:
df

,Unnamed: 0,index,fonction,cat,grade,Echelon,durée,Indice Brut,Indice majoré,salaire brut,indice majoré calculé
0,0,1,Syndic des gens de mer,C,1,1,1.000000,388,355,1663.54,355.0
1,1,2,Syndic des gens de mer,C,1,2,1.000000,397,361,1691.66,361.0
2,2,3,Syndic des gens de mer,C,1,3,2.000000,412,368,1724.46,368.0
3,3,4,Syndic des gens de mer,C,1,4,2.000000,430,380,1780.69,380.0
4,4,5,Syndic des gens de mer,C,1,5,2.000000,448,393,1841.61,393.0
...,...,...,...,...,...,...,...,...,...,...,...
9614,9614,12903,Directeur général et directeur d’établissement...,A,1,8,0.833333,HED,-,5496.71,1173.0
9615,9615,12904,Directeur général et directeur d’établissement...,A,1,9,0.833333,HED2,-,5745.07,1226.0
9616,9616,12905,Directeur général et directeur d’établissement...,A,1,10,inf,HED3,-,5993.43,1279.0
9617,9617,12906,Directeur général et directeur d’établissement...,A,2,1,0.833333,HED,-,5496.71,1173.0
9618,9618,12907,Directeur général et directeur d’établissement...,A,2,2,inf,HEE2,-,6227.73,1329.0

In [5]:
def conv(duree):
    '''Fonction permettant de convertir les données traduisant les dates de l'année au format adapté pour le traitement en Python. 
    Cette fonction convertit la variable duree (str) donnant une durée en années et en mois en la variable
    res (float) donnant cette même durée en année
    si la données est indéfini, elle est remplacée par np.inf'''
    duree = str(duree)
    duree = duree.replace('s', '').replace(' ', '')
    annees = 0
    mois = 0
    controle = True
    if 'nan' in duree:
        annees = np.inf
        controle = False
    if ('an' not in duree) and ('moi' not in duree):
        annees = np.inf
    if 'an' in duree and controle:
        l = list(duree)
        nbr =''
        car=''
        while car != 'a':
            nbr+=car
            car = l.pop(0) 
        annees = float(nbr)
    if 'moi' in duree:
        try:    
            l.pop(0)
        except:
            l = list(duree)
        nbr=''
        car=''
        while car!='m':
            nbr+=car
            car = l.pop(0)
        mois = float(nbr)/12
    
    return annees + mois

In [6]:
duree = df['durée']
duree2 = []
for ligne in duree :
        duree2.append(conv(ligne))

df['durée'] = duree2

In [7]:
df.head()

,Unnamed: 0,index,fonction,cat,grade,Echelon,durée,Indice Brut,Indice majoré,salaire brut,indice majoré calculé
0,0,1,Syndic des gens de mer,C,1,1,inf,388,355,1663.54,355.0
1,1,2,Syndic des gens de mer,C,1,2,inf,397,361,1691.66,361.0
2,2,3,Syndic des gens de mer,C,1,3,inf,412,368,1724.46,368.0
3,3,4,Syndic des gens de mer,C,1,4,inf,430,380,1780.69,380.0
4,4,5,Syndic des gens de mer,C,1,5,inf,448,393,1841.61,393.0

In [8]:
#df.drop('durée', axis = 0, inplace = True)
df = df[['index', 'fonction', 'cat', 'grade', 'Echelon', 'durée', 'Indice Brut', 'Indice majoré', 'salaire brut', 'indice majoré calculé']]
df.head()

,index,fonction,cat,grade,Echelon,durée,Indice Brut,Indice majoré,salaire brut,indice majoré calculé
0,1,Syndic des gens de mer,C,1,1,inf,388,355,1663.54,355.0
1,2,Syndic des gens de mer,C,1,2,inf,397,361,1691.66,361.0
2,3,Syndic des gens de mer,C,1,3,inf,412,368,1724.46,368.0
3,4,Syndic des gens de mer,C,1,4,inf,430,380,1780.69,380.0
4,5,Syndic des gens de mer,C,1,5,inf,448,393,1841.61,393.0

In [9]:
pts = 4.686025 #Valeur du point d'indice au moment où les données ont été recueillies 

IM = df['salaire brut']/pts

df['indice majoré calculé'] = round(IM, 2)

df.head()

C:\Users\hugob\AppData\Local\Temp\ipykernel_6580\256085814.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['indice majoré calculé'] = round(IM, 2)

,index,fonction,cat,grade,Echelon,durée,Indice Brut,Indice majoré,salaire brut,indice majoré calculé
0,1,Syndic des gens de mer,C,1,1,inf,388,355,1663.54,355.0
1,2,Syndic des gens de mer,C,1,2,inf,397,361,1691.66,361.0
2,3,Syndic des gens de mer,C,1,3,inf,412,368,1724.46,368.0
3,4,Syndic des gens de mer,C,1,4,inf,430,380,1780.69,380.0
4,5,Syndic des gens de mer,C,1,5,inf,448,393,1841.61,393.0

In [10]:
metiers = df['fonction'].unique()

for metier in metiers :
    grille = df.loc[df['fonction'] == metier]
    grades = grille['grade'].unique()
    for grade in grades :
        grille_grade = grille.loc[grille['grade'] == grade]
        # print(df.loc[(df['fonction'] == metier) & (df['grade'] == grade),'Echelon'])
        df.loc[(df['fonction'] == metier) & (df['grade'] == grade), 'Echelon'] = np.array(range(1,grille_grade['grade'].count()+1))
        
        echelon_max = df.loc[(df['fonction'] == metier) & (df['grade'] == grade), 'Echelon'].max()
        df.loc[(df['fonction'] == metier) & (df['grade'] == grade) & (df['Echelon'] == echelon_max), 'durée'] = np.inf

In [11]:
df.to_csv(dossier + 'corr_' + fichier, sep = ',')

In [13]:
'''L'objectif dans la partie suivante est de générer la base de données uniquement des Membres du Programme 165 afin d'avoir de traiter ensuite uniquement cette base de données'''

#df=pd.read_csv("data/fonction_publ_etat.csv")
df=pd.read_csv("grilles_salariales/corr_salaires_etat.csv")

In [ ]:
df
# Initialement nous avons une base de données contenant 11275 lignes

,web-scraper-order,web-scraper-start-url,fonction,fonction-href,Echelon,Indice Brut,Indice majoré,Durée,Salaire brut,catA,catB,catC
0,1651681676-7260,https://www.emploi-collectivites.fr/grille-ind...,Chargé de recherche d'établissement public sci...,https://www.emploi-collectivites.fr/grille-ind...,4,933,758,1 an,"3 552,01 €",A,NaN,NaN
1,1651682094-9318,https://www.emploi-collectivites.fr/grille-ind...,Cadre d'exploitation de France Télécom -en voi...,https://www.emploi-collectivites.fr/grille-ind...,12,599,504,2 ans,"2 361,76 €",A,NaN,NaN
2,1651682205-10071,https://www.emploi-collectivites.fr/grille-ind...,Contrôleur spécialisé de la direction générale...,https://www.emploi-collectivites.fr/grille-ind...,4,429,379,2 ans,"1 776,00 €",NaN,B,NaN
3,1651681581-7074,https://www.emploi-collectivites.fr/grille-ind...,Directeur de recherche d'établissement public ...,https://www.emploi-collectivites.fr/grille-ind...,NaN,HEC2,-,1 an,"5 379,56 €",A,NaN,NaN
4,1651681110-5056,https://www.emploi-collectivites.fr/grille-ind...,Ouvrier des parcs et ateliers des ponts et cha...,https://www.emploi-collectivites.fr/grille-ind...,9,500,431,3 ans,"2 019,68 €",NaN,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
11270,1651682274-10540,https://www.emploi-collectivites.fr/grille-ind...,Officier des bases de l'air,https://www.emploi-collectivites.fr/grille-ind...,1,HEC,-,1 an,"5 267,09 €",A,NaN,NaN
11271,1651680799-2390,https://www.emploi-collectivites.fr/grille-ind...,Directeur fonctionnel des services pénitentiai...,https://www.emploi-collectivites.fr/grille-ind...,5,913,743,3 ans,"3 481,72 €",A,NaN,NaN
11272,1651680811-2623,https://www.emploi-collectivites.fr/grille-ind...,Directeur des services pénitentiaires d’insert...,https://www.emploi-collectivites.fr/grille-ind...,2,499,430,2 ans,"2 014,99 €",A,NaN,NaN
11273,1651680885-3530,https://www.emploi-collectivites.fr/grille-ind...,Secrétaire général de l’institut national du s...,https://www.emploi-collectivites.fr/grille-ind...,NaN,HEB3,-,-,"4 999,99 €",A,NaN,NaN
11274,1651682274-10545,https://www.emploi-collectivites.fr/grille-ind...,Officier des bases de l'air,https://www.emploi-collectivites.fr/grille-ind...,3,HEA,-,1 an,"4 170,56 €",A,NaN,NaN

On veut sélectionner seulement les métiers qui font relation avec le conseil d'Etat
Pour cela on va commencer par référencer les métiers relatifs au conseil d'Etat.
Il est impossible de trouver une liste explicite.

In [17]:
import pandas as pd

# Mots-clés à utiliser pour la sélection
mots_cles = ["Conseiller d'État",
'Maître des requêtes',
'Rapporteur public',
"Auditeur au Conseil d'État" ,
'Secrétaire général' ,
'Secrétaire administratif des administrations',
'Commissaire du gouvernement',
'Chef de service',
'Juriste',
'Attaché de recherche',
'Chargé de mission',
'Administrateur',
'Conseiller juridique',
'Expert en contentieux administratif',
'Responsable de communication',
'Contrôleur de gestion',
'Magistrat',
'Juge adminsitratif',
"Conseil d'Etat",
'Cours nationale']

# Création d'un masque booléen pour filtrer les lignes contenant les mots-clés
masque = df['fonction'].str.contains('|'.join(mots_cles), case=False)  # Remplacez 'colonne' par le nom de la colonne à filtrer

# Application du masque pour sélectionner les lignes correspondantes
df_selection = df[masque]

# Affichage du DataFrame avec les lignes sélectionnées
print(df_selection)
# Grâce à ce premier code on passe déjà de 11275 à 841 métiers, on peut encore réduire en posant certains mots clés comme exclus

      Unnamed: 0  index                                           fonction  \
331          331    334  Secrétaire général du conseil supérieur de la ...
332          332    335  Secrétaire général du conseil supérieur de la ...
333          333    336  Secrétaire général du conseil supérieur de la ...
334          334    337  Secrétaire général du conseil supérieur de la ...
335          335    338  Secrétaire général du conseil supérieur de la ...
...          ...    ...                                                ...
9258        9258  12544  Secrétaire général d’établissement d’enseignem...
9259        9259  12545  Secrétaire général d’établissement d’enseignem...
9260        9260  12546  Secrétaire général d’établissement d’enseignem...
9261        9261  12547  Secrétaire général d’établissement d’enseignem...
9262        9262  12548  Secrétaire général d’établissement d’enseignem...

     cat  grade  Echelon     durée Indice Brut Indice majoré  salaire brut  \
331    A      1        1  1.000000         977           792       3711.33
332    A      1        2  1.000000        1027           830       3889.40
333    A      1        3  0.666667         HEA             -       4170.56
334    A      1        4  0.666667        HEA2             -       4334.57
335    A      1        5  0.666667        HEA3             -       4554.82
...   ..    ...      ...       ...         ...           ...           ...
9258   A      1        5  2.500000         977           792       3711.33
9259   A      1        6  2.500000        1027           830       3889.40
9260   A      1        7  1.000000         HEA             -       4170.56
9261   A      1        8  1.000000        HEA2             -       4334.57
9262   A      1        9       inf        HEA3             -       4554.82

      indice majoré calculé
331                   792.0
332                   830.0
333                   890.0
334                   925.0
335                   972.0
...                     ...
9258                  792.0
9259                  830.0
9260                  890.0
9261                  925.0
9262                  972.0

[799 rows x 11 columns]

In [18]:
mots_cibles = ['Police','CESE','muséologie','maritimes', 'Polytechnique', 'ENA','aviation','maritime','marine','comptes','emploi fonctionnel','Emploi fonctionnel','emplois fonctionnels',"corps en voie d'extinction", 'en extinction','Versailles',"(en voie d'extinction)"]  # Mots-clés spécifiques à rechercher
colonne_cible = 'fonction'  # Colonne dans laquelle rechercher les mots-clés

# Créer un masque pour chaque mot-clé et les combiner avec l'opérateur logique |
mots_cibles_masque = df_selection[colonne_cible].str.contains('|'.join(mots_cibles), case=False)

# Appliquer le masque pour filtrer les lignes
nouveau_dataframe = df_selection[~mots_cibles_masque]

# Afficher le nouveau DataFrame sans les lignes contenant les mots-clés
print(nouveau_dataframe)

      Unnamed: 0  index                                 fonction cat  grade  \
1368        1368   1649         Vice-président du Conseil d'Etat   A      1
1380        1380   1734  Secrétaire général du Conseil d'Etat-CE   A      1
1381        1381   1735  Secrétaire général du Conseil d'Etat-CE   A      1
1382        1382   1736  Secrétaire général du Conseil d'Etat-CE   A      1
1448        1448   1914   Président de section du Conseil d'Etat   A      1
...          ...    ...                                      ...  ..    ...
9060        9060  12339                 Administrateur de l'Etat   A      3
9061        9061  12340                 Administrateur de l'Etat   A      3
9062        9062  12341                 Administrateur de l'Etat   A      3
9063        9063  12342                 Administrateur de l'Etat   A      3
9064        9064  12343                 Administrateur de l'Etat   A      3

      Echelon  durée Indice Brut Indice majoré  salaire brut  \
1368        1    inf         HEG             -       7075.90
1380        1    1.0      HEBbis             -       4999.99
1381        2    1.0     HEBbis2             -       5131.20
1382        3    inf     HEBbis3             -       5267.09
1448        1    inf         HEF             -       6457.34
...       ...    ...         ...           ...           ...
9060        6    2.0         813           667       3125.58
9061        7    2.0         862           705       3303.65
9062        8    2.0         912           743       3481.72
9063        9    3.0         977           792       3711.33
9064       10    inf        1015           821       3847.23

      indice majoré calculé
1368                 1510.0
1380                 1067.0
1381                 1095.0
1382                 1124.0
1448                 1378.0
...                     ...
9060                  667.0
9061                  705.0
9062                  743.0
9063                  792.0
9064                  821.0

[206 rows x 11 columns]

C:\Users\hugob\AppData\Local\Temp\ipykernel_6580\3202311102.py:5: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  mots_cibles_masque = df_selection[colonne_cible].str.contains('|'.join(mots_cibles), case=False)

In [19]:
chemin_fichier = 'data/scraping_fonction_etat.csv'

# Enregistrement du DataFrame dans un fichier CSV
nouveau_dataframe.to_csv(chemin_fichier, index=False)

#Grâce à ce traitement des données, on retrouve (peut-être pas exactement) les métiers qui peuplent les agents du Conseil d'Etat. On passe notamment d'une base de données de 11275 lignes à une de 204